.*
!.yarn/cache/
!.yarn/patches/
!.yarn/plugins/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
!.yarnrc.yml
**/node_modules/
Dockerfile
docker-compose.yml
LICENSE
REAME.md
storage/
!storage/profile-pictures/
storage/profile-pictures/.gitignore
